@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 38px;
margin-top: 50px;
width: 310px;
height: 25px;
align-items: center;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py7dd.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;
height: 100%;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
margin-left: 96px;
width: 8px;
height: 8px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-left: 12px;
width: 8px;
height: 8px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
margin-left: 13px;
width: 8px;
height: 8px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py73w.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 110px;
width: 25px;
height: 100%;}
.artboard1container0row1 {
display: flex;
margin-top: 9px;
width: 334px;
height: 9px;
align-items: stretch;
align-self: center;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.5625em;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.5625em;
margin-left: 242px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 1.125em;
margin-left: 57px;
margin-top: 47px;
height: 18px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 1.125em;
margin-top: 12px;
height: 18px;
align-self: center;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 41px;
width: 159px;
height: 160px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py6sr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 98px;
height: 105px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py6i0.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 85px;
width: 59px;
height: 59px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style18 {
background-color: #0088ff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 317px;
flex-direction: column;}
.artboard2container1row0 {
display: flex;
margin-left: 153px;
margin-top: 41px;
width: 205px;
height: 19px;
align-items: stretch;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 0px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py8nz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 118px;
width: 19px;}
.artboard2container1row1 {
display: flex;
margin-top: 13px;
width: 52px;
height: 9px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 9px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 9px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 9px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py7to.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 5px 13px 1px rgba(0,0,0,0.5019607843137255);
margin-top: 19px;
width: 211px;
height: 309px;
align-self: center;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 366px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 1.3125em;
margin-top: 127px;
height: 20px;
align-self: center;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 0.875em;
margin-left: 96px;
margin-top: 22px;
height: 14px;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
display: flex;
margin-top: 35px;
width: 193px;
height: 50px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.875em;
height: 14px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style30 {
background-color: #0088ff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 309px;
flex-direction: column;}
.artboard3container1row0 {
display: flex;
margin-left: 153px;
margin-top: 40px;
width: 205px;
height: 18px;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 0px;
height: 100%;
align-self: stretch;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py9hm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 120px;
margin-top: 5px;
width: 18px;
height: 18px;}
.artboard3container1row1 {
display: flex;
margin-top: 14px;
width: 50px;
height: 8px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 8px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 8px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 8px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py99x.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 18px;
width: 201px;
height: 303px;
align-self: center;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 1px;
width: 375px;
height: 357px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 1.25em;
margin-left: 97px;
margin-top: 123px;
height: 20px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 0.875em;
margin-top: 22px;
height: 14px;
align-self: center;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 11px;
border-top-right-radius: 11px;
border-bottom-left-radius: 11px;
border-bottom-right-radius: 11px;
display: flex;
margin-top: 33px;
width: 188px;
height: 49px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.875em;
height: 14px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 237px;
flex-direction: column;}
.artboard4container14row0 {
display: flex;
margin-left: 16px;
margin-top: 23px;
width: 215px;
height: 18px;
align-items: stretch;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pycr8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 18px;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 107px;}
.artboard4container14row1 {
display: flex;
margin-top: 15px;
width: 50px;
height: 8px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 8px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 8px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 8px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pycx2.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 37px;
width: 67px;
height: 64px;
align-self: center;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 0.8125em;
margin-top: 31px;
height: 13px;
align-self: center;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 49px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 16px;
width: 320px;
height: 21px;
align-items: center;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pyces.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 21px;
height: 100%;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 9px;
height: 14px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 92px;
height: 14px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 334px;
align-items: center;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 6px;
width: 309px;
height: 42px;
align-items: center;
flex-direction: column;
justify-content: center;}
.artboard4container10btnprimaryfullrow0 {
display: flex;
width: 97px;
height: 15px;
align-items: stretch;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pyc2h.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 13px;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 0.875em;
margin-left: 15px;}
.style58 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 50px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 78px;
margin-top: 102px;
width: 635px;
height: 51px;
align-items: center;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py7dd.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 55px;
height: 100%;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
margin-left: 197px;
width: 16px;
height: 16px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-left: 25px;
width: 16px;
height: 16px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
margin-left: 27px;
width: 16px;
height: 16px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py73w.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 225px;
width: 51px;
height: 100%;}
.artboard1container0row1 {
display: flex;
margin-top: 18px;
width: 684px;
height: 18px;
align-items: stretch;
align-self: center;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.1520000000000001em;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.1520000000000001em;
margin-left: 496px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.3040000000000003em;
margin-left: 117px;
margin-top: 96px;
height: 37px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.3040000000000003em;
margin-top: 25px;
height: 37px;
align-self: center;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 84px;
width: 326px;
height: 328px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py6sr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 201px;
height: 215px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py6i0.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 174px;
width: 121px;
height: 121px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style18 {
background-color: #0088ff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 649px;
flex-direction: column;}
.artboard2container1row0 {
display: flex;
margin-left: 313px;
margin-top: 84px;
width: 420px;
height: 39px;
align-items: stretch;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 0px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py8nz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 242px;
width: 39px;}
.artboard2container1row1 {
display: flex;
margin-top: 27px;
width: 106px;
height: 18px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 18px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 18px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 18px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py7to.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 5px 13px 1px rgba(0,0,0,0.5019607843137255);
margin-top: 39px;
width: 432px;
height: 633px;
align-self: center;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 750px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 2.688em;
margin-top: 260px;
height: 41px;
align-self: center;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 1.792em;
margin-left: 197px;
margin-top: 45px;
height: 29px;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
display: flex;
margin-top: 72px;
width: 395px;
height: 102px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.792em;
height: 29px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style30 {
background-color: #0088ff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 633px;
flex-direction: column;}
.artboard3container1row0 {
display: flex;
margin-left: 313px;
margin-top: 82px;
width: 420px;
height: 37px;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 0px;
height: 100%;
align-self: stretch;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py9hm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 246px;
margin-top: 10px;
width: 37px;
height: 37px;}
.artboard3container1row1 {
display: flex;
margin-top: 29px;
width: 102px;
height: 16px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 16px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 16px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 16px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py99x.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 37px;
width: 412px;
height: 621px;
align-self: center;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 768px;
height: 731px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 2.56em;
margin-left: 199px;
margin-top: 252px;
height: 41px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 1.792em;
margin-top: 45px;
height: 29px;
align-self: center;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 11px;
border-top-right-radius: 11px;
border-bottom-left-radius: 11px;
border-bottom-right-radius: 11px;
display: flex;
margin-top: 68px;
width: 385px;
height: 100px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.792em;
height: 29px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 485px;
flex-direction: column;}
.artboard4container14row0 {
display: flex;
margin-left: 33px;
margin-top: 47px;
width: 440px;
height: 37px;
align-items: stretch;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pycr8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 37px;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 219px;}
.artboard4container14row1 {
display: flex;
margin-top: 31px;
width: 102px;
height: 16px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 16px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 16px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 16px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pycx2.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 76px;
width: 137px;
height: 131px;
align-self: center;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 1.6640000000000001em;
margin-top: 63px;
height: 27px;
align-self: center;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 100px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 33px;
width: 655px;
height: 43px;
align-items: center;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pyces.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 43px;
height: 100%;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 18px;
height: 29px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 188px;
height: 29px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 684px;
align-items: center;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 12px;
width: 633px;
height: 86px;
align-items: center;
flex-direction: column;
justify-content: center;}
.artboard4container10btnprimaryfullrow0 {
display: flex;
width: 199px;
height: 31px;
align-items: stretch;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pyc2h.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1.792em;
margin-left: 31px;}
.style58 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 102px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 93px;
margin-top: 123px;
width: 761px;
height: 61px;
align-items: center;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py7dd.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 66px;
height: 100%;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
margin-left: 236px;
width: 20px;
height: 20px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-left: 29px;
width: 20px;
height: 20px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
margin-left: 32px;
width: 20px;
height: 20px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py73w.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 270px;
width: 61px;
height: 100%;}
.artboard1container0row1 {
display: flex;
margin-top: 22px;
width: 819px;
height: 22px;
align-items: stretch;
align-self: center;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.38em;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.38em;
margin-left: 594px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.76em;
margin-left: 140px;
margin-top: 115px;
height: 44px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.76em;
margin-top: 29px;
height: 44px;
align-self: center;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 101px;
width: 390px;
height: 393px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py6sr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 240px;
height: 258px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py6i0.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 209px;
width: 145px;
height: 145px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style18 {
background-color: #0088ff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 778px;
flex-direction: column;}
.artboard2container1row0 {
display: flex;
margin-left: 375px;
margin-top: 101px;
width: 503px;
height: 47px;
align-items: stretch;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 0px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py8nz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 289px;
width: 47px;}
.artboard2container1row1 {
display: flex;
margin-top: 32px;
width: 128px;
height: 22px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 22px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 22px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 22px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py7to.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 5px 13px 1px rgba(0,0,0,0.5019607843137255);
margin-top: 47px;
width: 518px;
height: 758px;
align-self: center;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 898px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 3.2199999999999998em;
margin-top: 312px;
height: 49px;
align-self: center;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
margin-left: 236px;
margin-top: 54px;
height: 34px;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
display: flex;
margin-top: 86px;
width: 473px;
height: 123px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
height: 34px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style30 {
background-color: #0088ff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 758px;
flex-direction: column;}
.artboard3container1row0 {
display: flex;
margin-left: 375px;
margin-top: 98px;
width: 503px;
height: 44px;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 0px;
height: 100%;
align-self: stretch;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py9hm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 294px;
margin-top: 12px;
width: 44px;
height: 44px;}
.artboard3container1row1 {
display: flex;
margin-top: 34px;
width: 123px;
height: 20px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 20px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 20px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py99x.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 44px;
width: 493px;
height: 743px;
align-self: center;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 920px;
height: 876px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 3.0666666666666664em;
margin-left: 238px;
margin-top: 302px;
height: 49px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
margin-top: 54px;
height: 34px;
align-self: center;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 11px;
border-top-right-radius: 11px;
border-bottom-left-radius: 11px;
border-bottom-right-radius: 11px;
display: flex;
margin-top: 81px;
width: 461px;
height: 120px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
height: 34px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 581px;
flex-direction: column;}
.artboard4container14row0 {
display: flex;
margin-left: 39px;
margin-top: 56px;
width: 527px;
height: 44px;
align-items: stretch;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pycr8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 44px;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 263px;}
.artboard4container14row1 {
display: flex;
margin-top: 37px;
width: 123px;
height: 20px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pycx2.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 91px;
width: 164px;
height: 157px;
align-self: center;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 1.9933333333333332em;
margin-top: 76px;
height: 32px;
align-self: center;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 120px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 39px;
width: 785px;
height: 52px;
align-items: center;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pyces.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 52px;
height: 100%;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 22px;
height: 34px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 226px;
height: 34px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 819px;
align-items: center;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 15px;
width: 758px;
height: 103px;
align-items: center;
flex-direction: column;
justify-content: center;}
.artboard4container10btnprimaryfullrow0 {
display: flex;
width: 238px;
height: 37px;
align-items: stretch;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pyc2h.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 32px;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
margin-left: 37px;}
.style58 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 123px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 122px;
margin-top: 160px;
width: 992px;
height: 80px;
align-items: center;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py7dd.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 86px;
height: 100%;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
margin-left: 307px;
width: 26px;
height: 26px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-left: 38px;
width: 26px;
height: 26px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
margin-left: 42px;
width: 26px;
height: 26px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py73w.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 352px;
width: 80px;
height: 100%;}
.artboard1container0row1 {
display: flex;
margin-top: 29px;
width: 1069px;
height: 29px;
align-items: stretch;
align-self: center;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.8em;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.8em;
margin-left: 774px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 3.6em;
margin-left: 182px;
margin-top: 150px;
height: 58px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 3.6em;
margin-top: 38px;
height: 58px;
align-self: center;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 131px;
width: 509px;
height: 512px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py6sr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 314px;
height: 336px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py6i0.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 272px;
width: 189px;
height: 189px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style18 {
background-color: #0088ff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1014px;
flex-direction: column;}
.artboard2container1row0 {
display: flex;
margin-left: 490px;
margin-top: 131px;
width: 656px;
height: 61px;
align-items: stretch;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 0px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py8nz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 378px;
width: 61px;}
.artboard2container1row1 {
display: flex;
margin-top: 42px;
width: 166px;
height: 29px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 29px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 29px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 29px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py7to.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 5px 13px 1px rgba(0,0,0,0.5019607843137255);
margin-top: 61px;
width: 675px;
height: 989px;
align-self: center;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1171px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 4.2em;
margin-top: 406px;
height: 64px;
align-self: center;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
margin-left: 307px;
margin-top: 70px;
height: 45px;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
display: flex;
margin-top: 112px;
width: 618px;
height: 160px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
height: 45px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style30 {
background-color: #0088ff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 989px;
flex-direction: column;}
.artboard3container1row0 {
display: flex;
margin-left: 490px;
margin-top: 128px;
width: 656px;
height: 58px;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 0px;
height: 100%;
align-self: stretch;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py9hm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 384px;
margin-top: 16px;
width: 58px;
height: 58px;}
.artboard3container1row1 {
display: flex;
margin-top: 45px;
width: 160px;
height: 26px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 26px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0.3490196168422699;
width: 26px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 26px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1py99x.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 58px;
width: 643px;
height: 970px;
align-self: center;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 3px;
width: 1200px;
height: 1142px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 4em;
margin-left: 310px;
margin-top: 394px;
height: 64px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
margin-top: 70px;
height: 45px;
align-self: center;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 11px;
border-top-right-radius: 11px;
border-bottom-left-radius: 11px;
border-bottom-right-radius: 11px;
display: flex;
margin-top: 106px;
width: 602px;
height: 157px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
height: 45px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 758px;
flex-direction: column;}
.artboard4container14row0 {
display: flex;
margin-left: 51px;
margin-top: 74px;
width: 688px;
height: 58px;
align-items: stretch;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pycr8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 58px;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 342px;}
.artboard4container14row1 {
display: flex;
margin-top: 48px;
width: 160px;
height: 26px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 26px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 26px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 26px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pycx2.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 118px;
width: 214px;
height: 205px;
align-self: center;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 2.6em;
margin-top: 99px;
height: 42px;
align-self: center;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 157px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 51px;
width: 1024px;
height: 67px;
align-items: center;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pyces.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 29px;
height: 45px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 294px;
height: 45px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1069px;
align-items: center;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 19px;
width: 989px;
height: 134px;
align-items: center;
flex-direction: column;
justify-content: center;}
.artboard4container10btnprimaryfullrow0 {
display: flex;
width: 310px;
height: 48px;
align-items: stretch;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/80syc52srjn1pyc2h.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 42px;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
margin-left: 48px;}
.style58 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 160px;}
}